<div class="course-card">

    <div class="course-title">
        {{index}} of {{count}} - {{course.description}}
    </div>
    @if (course.id == 3) {
        <h2>Special image processing</h2>
    }
    @else if (course.iconUrl) {
        <img width="300" alt="Angular Logo"
        [src]="course.iconUrl">
   }
    @else {
        <h2>No image available</h2>
    }

    <div class="course-description">
        {{course.longDescription}}
    </div>

    <button (click)="onCourseViewed()">View Course</button>

</div>
