<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo">
        <!--
            BUILT-IN PIPES
            
            date: 'MM/dd/yy'
            date: 'MM/dd/yyyy'

            pipes:

            string
                uppercase
                lowercase
                titlecase

            numeric
                number: '3' -- 3 digits left
                number: '3.3-5' 3 left, 3 to 5 right
                currency -- defaults to USD
                currency: 'GBP'
                percent

            array
                slice:0:4 - first through fourth (second parameter not included)

            json

            keyvalue -- creates an array of key values of the properties
        -->

        <div>{{startDate | date: 'MMM/dd/yyyy'}}</div>
</div>

<div class="courses">

    <!-- Track needs a primary key -->
    <!-- track course.id or track trackCourse() -->
    @for (course of courses; track trackCourse;
                 let count = $count;
                 let even = $even;
                 let odd = $odd) {
                    <!-- Do not need to use 'let' on these 
                        let index = $index;
                        let first = $first;
                        let last = $last;
                    -->
           <course-card (courseSelected)="onCourseSelected($event)"
                    [index]="$index + 1"
                    [count]="count" 
                    [class.is-first]="$first"
                    [class.is-last]="$last"
                    [class.is-even]="even"
                    [class.is-odd]="odd"
                    [course]="course" />
    }
    @empty {
        <h1>No courses found</h1>
    }
    <br/>


</div>


