<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="courses">

    <!-- Track needs a primary key -->
    <!-- track course.id or track trackCourse() -->
    @for (course of courses; track trackCourse;
                 let count = $count;
                 let even = $even;
                 let odd = $odd) {
                    <!-- Do not need to use 'let' on these 
                        let index = $index;
                        let first = $first;
                        let last = $last;
                    -->
           <course-card (courseSelected)="onCourseSelected($event)"
                    [index]="$index + 1"
                    [count]="count" 
                    [class.is-first]="$first"
                    [class.is-last]="$last"
                    [class.is-even]="even"
                    [class.is-odd]="odd"
                    [course]="course" />
    }
    @empty {
        <h1>No courses found</h1>
    }
    <br/>


</div>


